html {
    font-size: 10px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

body, main, .block, .buttons-container {
    height: 100%;
}

.block {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons-container {
    position: relative;
}

.background-image {
    height: 100%;
    width: auto;
}

.button {
    width: 4rem;
    height: 4rem;
    position: absolute;
    border: 0;
    padding: 0;
    border-radius: 4rem;
    opacity: 0.8;
    color: transparent;
    background-repeat: no-repeat;
    background-image: url("assets/icons/plus.png");
    background-position: 1.5rem 1.5rem;
}

.button:hover {
    cursor: pointer;
}

.button.show-description {
    width: fit-content;
    color: white;
    font-size: 1.4rem;
    text-align: end;
    padding: 1.1rem 1.5rem 1.1rem 4rem;
    background-image: url("assets/icons/minus.png");
    background-position: 1.5rem 1.9rem;
}

.green-button {
    background-color: #6ABF4B;
}

.blue-button {
    background-color: #3877EE;
}

#stadium {
    top: 45%;
    right: 63%
}

#railway-station {
    top: 37%;
    right: 40%;
}

#business-hotel {
    top: 61%;
    right: 30%;
}

#beach-hotel {
    top: 75%;
    right: 40%;
}

#bus-station {
    top: 27%;
    left: 27%;
}

#bridge {
    top: 66%;
    left: 23%;
}

#hall {
    top: 59%;
    right: 42%;
}

#conference-hall {
    top: 70%;
    right: 15%;
}

#living-house {
    top: 20%;
    right: 26%;
}

#hostel {
    top: 45%;
    right: 25%;
}

/* Блок занимает всю ширину экрана,то есть его ширина равна 100vw.
   Если высота экрана составляет 78% и более процентов от его ширины, то строения на фоновом изображении будут обрезаться.
   Например, при ширине 1920px и высоте 1700px обрезаются значительные части построек.
   Для того, чтобы пользователь мог видеть эти постройки при таком соотношении ширины и высоты, я добавила горизонтальный скролл для случаев, если высота больше или равна 78% от ширины. */

@media (max-width: 1920px) and (min-height: 78vw) {
    .block {
        overflow-x: scroll;
    }

    .block::-webkit-scrollbar {
        width: 0.2rem;
        background-color: cadetblue;
    }

    .block::-webkit-scrollbar-thumb {
        background-color: gainsboro;
    }
}

